<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
		<h1>Search</h1>
			
		 	<div class="form-group">
				ID:
			  	<input type="text" id="id" class="form-control">
			</div>
			<div class="form-group">
			  	State Code:
			  	<input type="text" name="state_code" class="form-control">
			</div>
			<div class="form-group">
			  	Year Born:
			  	<input type="text" name="year_born" class="form-control">
			</div>
			<div class="form-group">
			  	Social (last 4):
			  	<input type="text" name="social" class="form-control">
			</div>
			<div class="form-group">
			  	<input type="button" name="search" class="btn btn-primary btn-md" onclick="search()" value="Search">
			</div>
		</div>
	</div>
</div>


<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-3">
		<h1>Results</h1>
			
		 	<div class="form-group">
				Date:
			  	<input type="text" id="one">
			  	Spoke With:
			  	<input type="text" id="two">
				Initials:
			  	<input type="text" id="three">
			</div>
			<div class="form-group">
			  	**Patient:
			  	<input type="text" id="four">
			  	DOB:
			  	<input type="text" id="five">
			</div>
			<div class="form-group">
			  	**Insured:
			  	<input type="text" id="six">
			  	ID# or SS#:
			  	<input type="text" id="seven" >

			</div>
			<div class="form-group">
			  	DOB:
			  	<input type="text" id="eight" >
			  	Employer:
			  	<input type="text" id="nine" >
			</div>
			<div class="form-group">
			  	Phone #:
			  	<input type="text" id="ten" >
			  	Envoy ID#:
			  	<input type="text" id="eleven" >
			</div>
			<div class="form-group">
			  	SINGLE or FAMILY Coverage:
			  	<input type="text" id="twelve" >
			  	Effective Date:
			  	<input type="text" id="thirteen" >
			</div>
			<div class="form-group">
			  	Timely Filing Deadline:
			  	<input type="text" id="fourteen" >
			  	(add account alert if less than 365 days)
			</div>
			<div class="form-group">
			  	CALENDAR YEAR or BENEFIT YEAR/
			  	<input type="text" id="fifthteen" >
			</div>
			<div class="form-group">
			  	MAXIMUM:
			  	<input type="text" id="sixteen" >
			  	DEDUCTIBLE:
			  	<input type="text" id="seventeen" >
			</div> 
			<div class="form-group">
			  	PREVENTATIVE:
			  	<input type="text" id="eighteen">
			  	Applies to Deductible?
			  	<input type="text" id="nineteen" >
			</div> 
			<div class="form-group">
			  	BASIC:
			  	<input type="text" id="twenty" >
			</div> 
			<div class="form-group">
			  	MAJOR:
			  	<input type="text" id="twentyone" >
			</div> 
			<div class="form-group">
			  	PERIO:
			  	<input type="text" id="twentytwo" >
			  	ENDO:
			  	<input type="text" id="twentythree" >
			  	ORAL SURGERY:
			  	<input type="text" id="twentyfour" >
			</div> 
			FREQUENCY LIMITATIONS | Last Date of Service
			<div class="form-group">
			  	PAN or FMX:
			  	<input type="text" id="twentyfive" >
			  	<input type="text" id="twentysix" >
			</div> 
			<div class="form-group">
			  	PROPHY:
			  	<input type="text" id="twentyseven" >
			  	<input type="text" id="twentyeight" >
			</div> 
			<div class="form-group">
			  	EXAM:
			  	<input type="text" id="twentynine" >
			  	<input type="text" id="thirty" >
			</div>
			<div class="form-group">  	
			  	BW'S:
			  	<input type="text" id="thirtyone" >
			  	<input type="text" id="thirtytwo" >
			</div> 

			<div class="form-group">
			  	FLUORIDE:
			  	<input type="text" id="thirtythree" >
			  	Up to:
			  	<input type="text" id="thirtyfour">
			  	Years Old
			</div> 
			<div class="form-group">
			  	SEALANTS:
			  	<input type="text" id="thirtyfive" >
			</div> 
			<div class="form-group">
			  	Missing Tooth Clause? 
			  	<input type="text" id="thirtysix" >
			</div> 
			<div class="form-group">
			  	Replacement Clause: 
			  	<input type="text" id="thirtyseven" >
			</div> 
			<div class="form-group">
			  	Waiting Periods: 
			  	<input type="text" id="thirtyeight" >
			</div> 
			<div class="form-group">
			  	Occlusal Guards (Code D9940): 
			  	<input type="text" id="thirtynine" >
			</div> 
			<div class="form-group">
			  	Oral Cancer Screening (Code D0431): 
			  	<input type="text" id="forty" >
			</div> 
			<div class="form-group">
			  	Orthodontic Coverage: 
			  	<input type="text" id="fortyone" >
			</div> 
			<div class="form-group">
			  	Alternate benefit of amalgam applied to composites? 
			  	<input type="text" id="fortytwo" >
			</div> 
		</div>
	</div>
</div>


